# Bulltrend

A consultoria financeira *Bulltrend* busca visualizar as carteiras de investimento de seus clientes pensando na melhor forma de indicar bons ativos e acompanhar a evolução destes.
Você, como analista de dados dessa consultoria, decidiu combinar duas potentes ferramentas de Data Science, Python e Power Bi, para auxiliar o time de consultores a acompanhar de perto a carteira de ativos dos clientes.
Aqui vamos trazer duas importantes correntes para análise de ativos: a análise fundamentalista e a análise gráfica.
Por meio da coleta dos dados com as bibliotecas Python e carga no Power BI, será possível avaliar a carteira da pessoa cliente e acompanhar os indicadores fundamentalistas que avaliam a situação financeira das empresas listadas na bolsa e as flutuações das cotações no período estipulado:

#### *Base de dados*

Vamos importar duas bases de dados em que:

* A nase de dados com as cotações será gerada dentro do periodo de 01/08/2022 à 01/08/2023, por meio da biblioteca *yfinance* que lê os dados das cotações de todoso os ativos listadas na bolsa do Brasil e do Mundo por meio do site Yahoo Finance.
* A base de dados com os indicadores será gerado, por meio da biblioteca *fundamentus* que lê os dados dos indicadores fundamentalstas de todos os ativos listadas na bolsa do Brasil por meio do site da fundamentus.

#### *Desafio*

Você como analista de dados do time de dados da Finvestment tem o desafio de extrair os dados fundamentalistas e de cotações dos ativos de uma carteira hipotética por meio das bibliotecas Python e carregá-los dentro do Power BI a fim de construir um dashboard com os dados compilados e disponíveis para a análise da pessoa consultora.

### Importando as bibliotecas e trazendo os dados de cotação

In [20]:
import pandas as pd
import numpy as np

import yfinance as yf
import fundamentus

2024-08-28 20:33:10,803 [logging.log_init] INFO: LOGLEVEL=INFO

In [4]:
# Definindo a carteira de ações
carteira_yf = ['ABEV3.SA', 'B3SA3.SA', 'ELET3.SA', 'GGBR4.SA', 'ITSA4.SA',
                'PETR4.SA', 'RENT3.SA', 'SUZB3.SA', 'VALE3.SA', 'WEGE3.SA']

In [5]:
# Carregando os dados da carteira
df = yf.download(carteira_yf, start='2022-08-01', end='2023-08-01')

[*********************100%***********************]  10 of 10 completed

In [6]:
#Visualizando
df.head(3)

Price                      Adj Close                                   \
Ticker                      ABEV3.SA   B3SA3.SA   ELET3.SA   GGBR4.SA
Date
2022-08-01 00:00:00+00:00  13.207384  10.113264  45.704250  15.495656
2022-08-02 00:00:00+00:00  13.279604  10.048139  46.058090  15.973555
2022-08-03 00:00:00+00:00  13.207384  10.383076  46.205521  15.325445

Price                                                                 \
Ticker                     ITSA4.SA   PETR4.SA   RENT3.SA   SUZB3.SA
Date
2022-08-01 00:00:00+00:00  6.317715  17.478104  53.862640  44.766506
2022-08-02 00:00:00+00:00  6.376897  17.555946  54.117069  45.134293
2022-08-03 00:00:00+00:00  6.428681  17.566324  55.803810  44.634476

Price                                            ...    Volume            \
Ticker                      VALE3.SA   WEGE3.SA  ...  ABEV3.SA  B3SA3.SA
Date                                             ...
2022-08-01 00:00:00+00:00  56.024532  26.946508  ...  34565900  26237600
2022-08-02 00:00:00+00:00  57.810268  27.429768  ...  12515800  29130100
2022-08-03 00:00:00+00:00  55.563690  27.178480  ...  19576600  29172900

Price                                                                       \
Ticker                     ELET3.SA  GGBR4.SA  ITSA4.SA  PETR4.SA RENT3.SA
Date
2022-08-01 00:00:00+00:00  12239200  16655058  24571002  81365100  6769429
2022-08-02 00:00:00+00:00   7477600  16078734  15000327  69147100  4870629
2022-08-03 00:00:00+00:00   8281500  30645468  24131173  65544500  4927295

Price
Ticker                    SUZB3.SA  VALE3.SA WEGE3.SA
Date
2022-08-01 00:00:00+00:00  7127600  38874000  8202200
2022-08-02 00:00:00+00:00  4379000  32636900  7214800
2022-08-03 00:00:00+00:00  4451900  31934600  6627100

[3 rows x 60 columns]

In [8]:
#Passando os ativos para o multindex do df
cotacoes = df.stack(level=1)
cotacoes

C:\Users\wende\AppData\Local\Temp\ipykernel_11676\306307137.py:2: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  cotacoes = df.stack(level=1)

Price                               Adj Close      Close       High  \
Date                      Ticker
2022-08-01 00:00:00+00:00 ABEV3.SA  13.207384  14.630000  14.890000
                          B3SA3.SA  10.113264  10.870000  11.120000
                          ELET3.SA  45.704250  46.500000  46.889999
                          GGBR4.SA  15.495656  18.785713  19.547619
                          ITSA4.SA   6.317715   7.362799   7.483501
...                                       ...        ...        ...
2023-07-31 00:00:00+00:00 PETR4.SA  25.403507  31.110001  31.150000
                          RENT3.SA  65.090393  67.067726  67.506729
                          SUZB3.SA  46.971523  48.070000  48.610001
                          VALE3.SA  61.386002  69.160004  69.680000
                          WEGE3.SA  39.178078  39.919998  40.290001

Price                                     Low       Open    Volume
Date                      Ticker
2022-08-01 00:00:00+00:00 ABEV3.SA  14.430000  14.860000  34565900
                          B3SA3.SA  10.710000  11.020000  26237600
                          ELET3.SA  45.660000  45.799999  12239200
                          GGBR4.SA  18.650793  19.547619  16655058
                          ITSA4.SA   7.285205   7.457636  24571002
...                                       ...        ...       ...
2023-07-31 00:00:00+00:00 PETR4.SA  30.299999  30.299999  91290800
                          RENT3.SA  66.289497  66.888138   5980447
                          SUZB3.SA  47.340000  47.389999   4602700
                          VALE3.SA  67.839996  68.000000  26065700
                          WEGE3.SA  39.810001  40.290001   7141800

[2500 rows x 6 columns]

In [15]:
# Resetando o index e renomeando a coluna dos ativos
cotacoes = cotacoes.reset_index().rename(columns={"Ticker": "Ativos"})

In [16]:
# Organizando as colunas
cotacoes = cotacoes[['Date','Open','High','Low','Close','Ativos']]

# Visualizando
cotacoes.head(5)

Price,Date,Open,High,Low,Close,Ativos
0,2022-08-01 00:00:00+00:00,14.860000,14.890000,14.430000,14.630000,ABEV3.SA
1,2022-08-01 00:00:00+00:00,11.020000,11.120000,10.710000,10.870000,B3SA3.SA
2,2022-08-01 00:00:00+00:00,45.799999,46.889999,45.660000,46.500000,ELET3.SA
3,2022-08-01 00:00:00+00:00,19.547619,19.547619,18.650793,18.785713,GGBR4.SA
4,2022-08-01 00:00:00+00:00,7.457636,7.483501,7.285205,7.362799,ITSA4.SA

In [19]:
# Visualizando as informações dos dados
cotacoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2500 non-null   datetime64[ns, UTC]
 1   Open    2500 non-null   float64
 2   High    2500 non-null   float64
 3   Low     2500 non-null   float64
 4   Close   2500 non-null   float64
 5   Ativos  2500 non-null   object
dtypes: datetime64[ns, UTC](1), float64(4), object(1)
memory usage: 117.3+ KB

In [21]:
# Lendo um papel específico
weg = fundamentus.get_papel("WEGE3")
weg

2024-08-28 20:36:51,585 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\wende\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')

,Papel,Tipo,Empresa,Setor,Subsetor,Cotacao,Data_ult_cot,Min_52_sem,Max_52_sem,Vol_med_2m,...,Ativo_Circulante,Div_Bruta,Div_Liquida,Patrim_Liq,Receita_Liquida_12m,EBIT_12m,Lucro_Liquido_12m,Receita_Liquida_3m,EBIT_3m,Lucro_Liquido_3m
WEGE3,WEGE3,ON N1,WEG SA ON N1,Máquinas e Equipamentos,"Motores, Compressores e Outros",54.00,2024-08-28,30.96,54.20,339924000,...,25019400000,4180980000,-3049790000,19299600000,33943900000,7609910000,5826240000,9274430000,2115140000,1441660000

In [22]:
# Definindo a carteira de ações
carteira_fund = ["ABEV3", "B3SA3", "ELET3", "GGBR4", "ITSA4",
                 "PETR4", "RENT3", "SUZB3", "VALE3", "WEGE3"]

In [24]:
# Criando um df com algumas infos da carteira
ind = pd.concat([fundamentus.get_papel(papel)[['Setor', 'Cotacao', 'Min_52_sem', 'Max_52_sem', 'Valor_de_mercado', 
                                               'Nro_Acoes', 'Patrim_Liq','Receita_Liquida_12m','Receita_Liquida_3m', 
                                               'Lucro_Liquido_12m', 'Lucro_Liquido_3m']] for papel in carteira_fund])
ind.head(3)

2024-08-28 20:39:25,282 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\wende\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2024-08-28 20:39:25,341 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\wende\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2024-08-28 20:39:26,101 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\wende\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2024-08-28 20:39:26,825 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\wende\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2024-08-28 20:39:27,567 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\wende\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2024-08-28 20:39:28,311 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\wende\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2024-08-28 20:39:29,039 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\wende\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2024-08-28 20:39:29,764 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\wende\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2024-08-28 20:39:30,506 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\wende\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2024-08-28 20:39:31,244 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\wende\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')

,Setor,Cotacao,Min_52_sem,Max_52_sem,Valor_de_mercado,Nro_Acoes,Patrim_Liq,Receita_Liquida_12m,Receita_Liquida_3m,Lucro_Liquido_12m,Lucro_Liquido_3m
ABEV3,Bebidas,12.95,11.09,14.08,204062000000,15757700000,95262800000,80627500000,20044200000,14396000000,2396310000
B3SA3,Serviços Financeiros Diversos,12.70,10.00,14.50,70440600000,5546500000,19117100000,10177200000,2727240000,4183420000,1244050000
ELET3,Energia Elétrica,42.04,33.41,43.99,96990500000,2307100000,114094000000,35817100000,8395280000,4444280000,1740300000

In [25]:
# Retornando as informações
ind.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, ABEV3 to WEGE3
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Setor                10 non-null     object
 1   Cotacao              10 non-null     object
 2   Min_52_sem           10 non-null     object
 3   Max_52_sem           10 non-null     object
 4   Valor_de_mercado     10 non-null     int64
 5   Nro_Acoes            10 non-null     object
 6   Patrim_Liq           10 non-null     object
 7   Receita_Liquida_12m  10 non-null     object
 8   Receita_Liquida_3m   10 non-null     object
 9   Lucro_Liquido_12m    10 non-null     object
 10  Lucro_Liquido_3m     10 non-null     object
dtypes: int64(1), object(10)
memory usage: 960.0+ bytes

In [26]:
# Passando o ticker para uma coluna
ind = ind.reset_index()
ind.rename(columns={"index":"Ativo"}, inplace=True)

In [27]:
# Alterando colunas object para numeric
colunas = ['Cotacao', 'Min_52_sem', 'Max_52_sem', 'Valor_de_mercado', 'Nro_Acoes', 'Patrim_Liq',
           'Receita_Liquida_12m', 'Receita_Liquida_3m', 'Lucro_Liquido_12m', 'Lucro_Liquido_3m']
ind[colunas] = ind[colunas].apply(pd.to_numeric, errors='coerce', axis=1)
ind.head()

,Ativo,Setor,Cotacao,Min_52_sem,Max_52_sem,Valor_de_mercado,Nro_Acoes,Patrim_Liq,Receita_Liquida_12m,Receita_Liquida_3m,Lucro_Liquido_12m,Lucro_Liquido_3m
0,ABEV3,Bebidas,12.95,11.09,14.08,2.040620e+11,1.575770e+10,9.526280e+10,8.062750e+10,2.004420e+10,1.439600e+10,2.396310e+09
1,B3SA3,Serviços Financeiros Diversos,12.70,10.00,14.50,7.044060e+10,5.546500e+09,1.911710e+10,1.017720e+10,2.727240e+09,4.183420e+09,1.244050e+09
2,ELET3,Energia Elétrica,42.04,33.41,43.99,9.699050e+10,2.307100e+09,1.140940e+11,3.581710e+10,8.395280e+09,4.444280e+09,1.740300e+09
3,GGBR4,Siderurgia e Metalurgia,18.06,16.70,20.86,3.807910e+10,2.108480e+09,5.513030e+10,6.460490e+10,1.661580e+10,5.062630e+09,8.591100e+08
4,ITSA4,Intermediários Financeiros,11.15,7.79,11.15,1.151590e+11,1.032810e+10,8.355100e+10,7.648000e+09,1.995000e+09,1.431200e+10,3.762000e+09